<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <title>My Portfolio</title>
  </head>
  <body>
    <header>
      <h1>Portfolio</h1>
      <nav>
        <ul class = "nav">
          <li class = "nav-content"><a href="">About</a></li>
          <li class = "nav-content"><a href="">Works</a></li>
          <li class = "nav-content"><a href="">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class = "main-image">
        <img src="" alt="自分の自己紹介文を記載">
      </div>
      <section>
        <h2 class = "title">About</h2>
        <p class = "text-box">
          東京都でエンジニアを目指し転職活動中です<br>
          とりあえず楽しくやってます
        </p>
      </section>
      <section>
        <h2 class = "title">Works</h2>
      </section>
      <section>
        <h2 class = "title">Contact</h2>
      </section>
    </main>
  </body>
</html>